@model AMS.MVC.ViewModels.MovieViewModels.MovieCreateViewModel

@{
    ViewData["Title"] = "Create new movie";
}

<h2 class="mb-0">Create new movie</h2>

<hr class="my-4" />

<form asp-action="Create">
    <div class="row form-group">
        <label asp-for="Title" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="d-inline-block mt-1 text-danger"></span>
        </div>
    </div>
    
    <div class="row form-group">
        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="d-inline-block mt-1 text-danger"></span>
        </div>
    </div>
    
    <div class="row form-group">
        <label asp-for="ReleaseDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ReleaseDate" class="form-control" />
            <span asp-validation-for="ReleaseDate" class="d-inline-block mt-1 text-danger"></span>
        </div>
    </div>
    
    <div class="row form-group">
        <label asp-for="Genres" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="SelectedGenres" asp-items="Model.Genres" multiple="multiple" id="slim-select"></select>
        </div>
    </div>
    
    <div class="row form-group">
        <div class="col-sm-12">
            <input class="btn btn-primary" type="submit" value="Create" />
            <a class="btn btn-danger" asp-controller="Movies" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>

@section Scripts
{
    <link rel="stylesheet" href="~/lib/slim-select/slimselect.min.css" />
    <script type="text/javascript" src="~/lib/slim-select/slimselect.min.js"></script>
    <script type="text/javascript">
        new SlimSelect({
            select: '#slim-select',
            placeholder: false,
            hideSelectedOption: true
        });
    </script>
}
