@model AMS.MVC.ViewModels.MovieViewModels.MovieEditViewModel

@{
    ViewData["Title"] = "Edit movie";
}

<h2 class="mb-0">Edit movie</h2>

<hr class="my-4" />

<form asp-action="Edit">
    <div class="row form-group">
        <label asp-for="Title" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="d-inline-block mt-1 text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="d-inline-block mt-1 text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="ReleaseDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ReleaseDate" class="form-control" />
            <span asp-validation-for="ReleaseDate" class="d-inline-block mt-1 text-danger"></span>
        </div>
    </div>
    
    <div class="row form-group">
        <label asp-for="SelectedGenres" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-items="Model.Genres" asp-for="SelectedGenres" id="genres-slim-select" multiple="multiple"></select>
        </div>
    </div>
    
    <div class="row form-group">
        <label asp-for="SelectedDirectors" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-items="Model.Persons" asp-for="SelectedDirectors" id="directors-slim-select" multiple="multiple"></select>
        </div>
    </div>
    
    <div class="row form-group">
        <label asp-for="SelectedWriters" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-items="Model.Persons" asp-for="SelectedWriters" id="writers-slim-select" multiple="multiple"></select>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-12">
            <input class="btn btn-primary" type="submit" value="Update" />
            <a class="ml-2 btn btn-danger" asp-controller="Movies" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>

@section Scripts
{
    <link rel="stylesheet" href="~/lib/slim-select/slimselect.min.css" />
    <script type="text/javascript" src="~/lib/slim-select/slimselect.min.js"></script>
    <script type="text/javascript">
        (function () {
            new SlimSelect({
                select: '#genres-slim-select',
                placeholder: false,
                hideSelectedOption: true
            });
            
            new SlimSelect({
                select: '#directors-slim-select',
                placeholder: false,
                hideSelectedOption: true
            });
            
            new SlimSelect({
                select: '#writers-slim-select',
                placeholder: false,
                hideSelectedOption: true
            });
        })();
    </script>
}
